body {
  background: #2b3245;

}

section {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.service-container:nth-child(1) {
  background: #a1f8b0;
  box-shadow: 0 8px 42px 0 rgba(161, 248, 176, 0.5);
}

.service-container:nth-child(2) {
  background: #f9d4c7;
  box-shadow: 0 8px 42px 0 rgba(249, 212, 199, 0.5);
}

.service-container:nth-child(3) {
  background: #76d2c7;
  box-shadow: 0 8px 42px 0 rgba(118, 210, 199, 0.5);
}

.chw {
  margin: 2rem 1rem 0rem 0rem;
  background: #393d4a;
  color: #ffffff;
  font-size: 1.5rem;
  padding-left: 2rem;
  height: 4rem;
  width: 100%;
  border-radius: 1.2rem;
}

.btn {
  margin: 2rem 3.5rem 0rem 2rem;
  padding: 0rem 2rem;
  border-radius: 1rem;
  color: rgb(130, 143, 252);
  background: #393d4a;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 4rem;

}



.t1 {
  font-size: 3rem;
  margin: 2rem;
  /* border: rgb(88, 90, 19) solid 1px; */
}

.degree {
  font-size: 3rem;
  margin: 2rem;
  /* border: rgb(88, 90, 19) solid 1px; */
  transform: translate(-1rem, -3rem);
}

.pic1 {
  /* border: red 2px solid;*/
  width: 10rem;
  height: 10rem;
}



.maindiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input:focus {
  outline: none;
  /* border: #828ffc 2px; */
}

.dfix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.wraperdiv {
  display: flex;
  margin: 2rem 8rem 0rem 8rem;
  border-radius: 1rem;
  background: #393d4a;
}

.t3 {
  transform: translate(2rem, -2rem);
  letter-spacing: 1px;
}

.wraper_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 3rem 2rem 3rem;

}

.airwrap {
  background: #393d4a;
  height: 20rem;
  width: 85rem;
  min-width: 55rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.gy {
  background: url(./images/landscape_background1.jpg);
  /* background-color: rgba(0,0,0,0.4); */
  background-position: 0cap -12cap;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tspace {
  letter-spacing: 2px;
}

.astro,
.wind,
.air {
  color: rgb(218, 215, 215);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  text-align: right;
}

.tr3 {
  font-size: 22px;
  margin-bottom: 0.5rem;
  color: rgb(130, 143, 252);
}

i {
  color: rgb(130, 143, 252);
}

.ty45 {
  font-weight: bold;
  color: #ffffff;
  border: rgb(130, 143, 252) solid 2px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
  text-transform: uppercase;

}

.ty4 {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.5rem;
}

.tu6 {
  /* border: red solid 1px; */
  height: 9rem;
  max-width: 32rem;
}

.green {
  color: rgb(36, 229, 36);
  font-weight: bold;

  border: rgb(130, 143, 252) solid 2px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
  text-transform: uppercase;
}

.yellow {
  color: yellow;
  font-weight: bold;

  border: rgb(130, 143, 252) solid 2px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
  text-transform: uppercase;
}

.orange {
  color: orange;
  font-weight: bold;

  border: rgb(130, 143, 252) solid 2px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
  text-transform: uppercase;
}

.red {
  color: red;
  font-weight: bold;
  border: rgb(130, 143, 252) solid 2px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------ */
.profilewrap {
  height: 22rem;
  width: 18rem;
  border-radius: 2rem;
  background: #393d4a;
  margin: 3rem 0rem 0rem 3rem;
  transform: translate(-2.5rem, 0rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.divyu {
  margin-top: 3rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  position: relative;
  text-transform: capitalize;

}

.pic {
  /* position: relative; */
  /* border: red 1px solid; */
  width: 8rem;
  height: 8rem;
  margin-top: 1.8rem;
  background: orange;
  border-radius: 50%;

}

.pic::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: rgb(255, 145, 0) solid;
  display: flex;
  border-radius: 50%;
}

.picset {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.pset h1:nth-child(1) {
  color: rgb(130, 143, 252);
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.pset h1:nth-child(2) {
  color: rgb(238, 238, 238);
  /* font-weight: bold; */
  font-size: 1rem;
  margin-top: -0.1rem;
  text-transform: capitalize;
}

.pset h1:nth-child(3) {
  color: rgb(185, 182, 182);
  /* font-weight: bold; */
  font-size: 1rem;
  text-transform: capitalize;
  width: 13rem;
}

.bt2 {
  margin: 2rem 0rem 0rem 0rem;
  /* transform: translate(2rem); */
  color: rgb(130, 143, 252);
  background: #393d4a;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 4rem;
}

.button {
  color: rgb(130, 143, 252);
  border-radius: 1rem;
  padding: 0rem 2rem;
  background: #393d4a;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  gap: 2rem;
  /* border: red solid; */
}

.qset {
  background: #393d4a;
  height: 4rem;
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem 7rem;
  border-radius: 1rem;
  transform: translateX(2.5rem);
}

.qset:hover {
  border: #828ffc solid;
}

.qset input {
  background: #393d4a;
  margin-left: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.qset input:focus {
  color: #ffffff;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------ */
.ko {
  max-height: 26rem;
  width: 100vw;
  margin-top: 1.8rem;
  overflow-y: scroll;
  position: absolute;
  /* border: red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
}

.ko1 {
  color: #f9f4f4;
  /* position: absolute; */
  display: block;
  z-index: 99;
  /* background: #9781f2; */
  font-weight: bold;
}

.ko2 p {
  /* border: red solid; */
  padding: 0.2rem 15rem;
  /* background: #9781f2; */
  background: rgba(135, 139, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(93, 78, 255, 0); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(15px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.06);

  font-size: 1.4rem;

}

.ko2 p:hover {
  /* background: #393d4a; */
  box-shadow: 0 8px 32px 0 rgba(130, 143, 252, 0.7);

  color: #828ffc;
  border: 4px solid rgba(130, 143, 252, 0.953);

  /* font-size: 1.8rem; */
}

/* =========================================================================================== */
/* ---------------------------------------------- */
.wrap-div {
  /* border: red solid; */
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.in-wrap-div {
  /* border: yellow solid; */
  height: 100%;
  color: white;
  width: 50%;
  /* margin-top: 4rem; */
  transform: translateY(4rem);
}

.in-wrap-div:nth-child(1) {
  margin-left: 12rem;
}

.in-wrap-div:nth-child(1) p {
  width: 32rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #c3c3c3;
}

.amin-ty b {
  color: #eaeaed;
}

.in-wrap-div:nth-child(1) button {
  background: #828ffc;
  padding: 1rem 1.5rem;
  color: #efefef;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 1.4rem;
  box-shadow: 0 8px 32px 0 rgba(99, 90, 207, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ui {
  padding-left: 1rem;
}

.main-text {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3rem;
  color: #828ffc;
}

.in-wrap-div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.cercle {
  /* background: rgb(130, 143, 252); */
  height: 75%;
  width: 37rem;
  /* border-radius: 50%; */
  position: absolute;
  z-index: 2;
  object-fit: fill;
  overflow: hidden;
  /* border: red solid; */

}

.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  z-index: 1;
}

/* .cercle::before {
  content: "";
  background: rgba(144, 130, 248, 0.2);
  position: absolute;
  height: 45rem;
  width: 45rem;
  border-radius: 50%;
  transform: translate(-4rem, -4rem);
  z-index: 1;
  overflow: visible;
} */


.service-text {
  text-transform: capitalize;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

/* ------------------------------------------------------------ */
.service-container {
  background: #9781f2;
  height: 9rem;
  width: 12rem;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-row {
  display: flex;
  gap: 3rem;
}

.service-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2b3245;
  /* border: red solid; */

}